@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*, ::after, ::before{
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.logo{
  font-family: "WDXL Lubrifont TC", sans-serif;
}
@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.chat-content {
  transform: translateX(0);
  animation: slide-in 0.3s ease-in-out;
}
